@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floaty {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.floaty {
  animation: floaty 6s ease-in-out infinite;
}

